boto3==1.26.81
celery[s3,sqs]==5.2.7
datadog==0.44.0
ddtrace==1.9.0
loguru==0.6.0
fastapi

accelerate==0.16.0
diffusers==0.14.0
ftfy==6.1.1
scipy==1.10.1
torch==1.13.1
torchvision==0.14.1
transformers==4.26.1
triton==2.0.0a2
xformers==0.0.16