appdirs
einops
git+https://github.com/neonbjb/tortoise-tts.git
inflect
librosa
llvmlite
numba
numpy
progressbar
pydub
rotary_embedding_torch
sanic==22.6.2
scipy
threadpoolctl
tokenizers
torchaudio
tqdm
transformers==4.19
unidecode